<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Puzzle</title>
    <script src="{{ url_for('static', filename='chessground.umd.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.brown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.cburnett.css') }}">
    <script src="/static/puzzle.js"></script>
    <style>
        #chessground_board {
            width: 400px;
            height: 400px;
            margin: 2em auto;
        }

        #feedback {
            font-size: 1.2em;
            margin-top: 1em;
            text-align: center;
        }

        #puzzle-info {
            margin: 1em auto;
            text-align: center;
        }

        #error-message {
            color: red;
            text-align: center;
        }
    </style>
</head>

<body>
    <h2 style="text-align:center;">Chess Puzzle</h2>
    <div id="puzzle-info"></div>
    <div id="chessground_board"></div>
    <div id="feedback"></div>
    <div id="error-message"></div>
    <div id="reset-container" style="text-align: center; margin-top: 1em;"></div>
</body>

</html>