<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chess Puzzle</title>
    <script src="{{ url_for('static', filename='chessground.umd.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.brown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='chessground/assets/chessground.cburnett.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/puzzle.css') }}">
    <script src="/static/puzzle.js"></script>
</head>

<body>
    <div class="container">
        <h2>Chess Puzzle</h2>
        <div class="puzzle-grid">
            <div class="chess-card">
                <div id="chessground_board"></div>
                <div id="feedback"></div>
                <div id="reset-container"></div>
            </div>
            <div class="info-card">
                <div id="puzzle-info"></div>
                <div id="error-message"></div>
            </div>
        </div>
    </div>
</body>

</html>